.main {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    /* background-image:linear-gradient(rgb(165, 245, 245), white); */

}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(165, 245, 245), white);

}

.head-icons {
    font-size: larger;
}

.right {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.r-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    right: 0;
    overflow: hidden;

}

.profile {
    position: relative;
    height: 200px;
    width: 200px;
    background-image: url(../../assets/r2.jpg);
    background-size: cover;
    border-radius: 150px;
    border: rgb(219, 216, 216) 7px solid;
    transition: transform .2s;
}

.profile:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.aboutme {
    position: relative;
    top: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 600px;
    height: 80vh;
    justify-content: center;
    align-items: center;
    font-family: 'Exo 2', sans-serif;

}

.aboutme ul {
    font-size: small;
    font-family: 'Poppins', sans-serif;
    color: rgb(68, 67, 67);
}

.head {
    justify-content: center;
    display: flex;
    height: 50px;
    font-family: 'Poppins', sans-serif;

}

.subheading {
    font-size: medium;
    height: 40px;
    color: blue;
    text-decoration: underline;

}

.parHead {
    color: rgb(68, 67, 67);
    font-size: medium;
    height: 40px;
}

.c-head {
    color: rgb(68, 67, 67);
    font-size: medium;
    height: 25px;
}

.services {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 600px;
    height: 70vh;
    justify-content: center;
    align-items: center;
    font-family: 'Exo 2', sans-serif;

}

.ed {
    align-items: center;
    justify-content: center;
    display: flex;
}

.education {
    position: relative;
    justify-content: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content: center;
    max-width: 600px;
    font-family: 'Exo 2', sans-serif;
    height: 40vh;
}

.contents {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}



.blogs {
    margin-top: 30px;
    text-align: center;
    height: 80vh;
}

.card {
    border: 1px solid red;
}

.card img {
    width: 260px;
    height: 160px;

}

.parallax p {
    font-size: smaller;
    font-family: 'Poppins', sans-serif;
}

.blog-items {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.blog-item {
    width: 290px;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background-color: #c5c1c198;
    font-size: smaller;
    font-family: 'Poppins', sans-serif;
    color: rgb(90, 88, 88);
    border-radius: 20px;
}

.blog-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.blog-item img {
    width: 290px;
    height: 160px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.blog-content {
    padding: 10px;
}

.blog-content * {
    margin-top: 10px;
}

.blog-btn {
    width: 80px;
    padding: 10px;
    background: #6c757d;
    border-radius: 10px;
}

.blog-content p {
    height: 100px;
}

.blog-content a {
    color: white;
    text-decoration: none;
}

.blog-footer {
    display: flex;
    justify-content: space-between;
}

.blog-footer i {
    align-items: center;
    display: flex;
}