<div class="main">
    <div class="container">
        
        <!-- left -->
        <div class="left">
            <div class="l-container">
                <div class="myself">
                    <h1>Muhammed Nihal</h1>
                    <span class="head-icons">
                        <a style="color: black;" href="https://www.mohdniaal@gmail.com"><i
                            class="fa-solid fa-envelope"></i></a>&nbsp;
                        <a style="color: black;" href="https://www.instagram.com/m.niaal/"><i
                            class="fa-brands fa-instagram"></i></a>&nbsp;
                        <a style="color: black;" href="https://www.linkedin.com/in/muhammed-nihal-k-1b18a1250/" title="Linkdin"><i
                            class="fa-brands fa-linkedin"></i></a> &nbsp;
                        <a style="color: black;" href="https://github.com/mohdniaal"><i class="fa-brands fa-github"></i></a>
                      </span>
                </div>
            </div>
        </div>
        <!-- right -->
        <div class="right">
 <div class="r-container">
    <div class="profile">

    </div>
 </div>
        </div>
    </div>
    <div class="contents">
        <div class="blogs">
            <h3 style=" font-family: 'Poppins', sans-serif; ">
              Blogs
            </h3>
            <br>
            <div class="blog-items">
              <div class="blog-item">
                <div class="blog-img">
                  <img class="card-img-top" src="../../assets/parallax.png" alt="Card image cap">
                </div>
                <div class="blog-content">
                  <h5>Parallax effect on CSS</h5>
                  <p>This article demonstrates you that, how to build a Web page
                    containing examples of trendy CSS designs using only HTML and CSS.
                  </p>
                  <div class="blog-footer">
                    <i class="fa-brands fa-medium"></i>
                    <div class="blog-btn"><a href="https://medium.com/@mohdniaal/parallax-effect-on-css-6891a396028d">Read
                        more</a></div>
                  </div>
                </div>
              </div>
              <div class="blog-item">
                <div class="blog-img">
                  <img class="card-img-top" src="../../assets/creative-agency.jpg" alt="Card image cap">
                </div>
                <div class="blog-content">
                  <h5>Bootstrap framework on Angular</h5>
                  <p>Bootstrap is a framework to help
                    you building and designing
                    various responsive web pages, makes responsive web design a reality.
                  </p>
                  <div class="blog-footer">
                    <i class="fa-brands fa-medium"></i>
                    <div class="blog-btn"><a
                        href="https://medium.com/@mohdniaal/bootstrap-framework-on-angular-7cd82334a1d6">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>